body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

h1, h2 {
    color: #444;
}

h1 {
    display: block; /* Define o elemento como bloco para aceitar margem e alinhamento */
    margin: 0 auto; /* Margem automática nas laterais para centralizar */
    max-width: 80%; /* Um máximo de largura para não esticar demais */
    /* Restante do seu CSS para h1 */
}

nav {
    display: block; /* Define o elemento como bloco */
    margin: 0 auto; /* Margem automática para centralizar */
    max-width: 80%; /* Controla a largura máxima */
    /* Restante do seu CSS para nav */
}

h2 {
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 1.8em;
}

/* Ajustar ul dentro de nav para alinhar os itens corretamente */
nav ul {
    padding: 0;
    text-align: left; /* Alinha os itens à esquerda dentro do bloco centralizado */
}

/* Ajustar li para apresentar corretamente dentro de nav */
nav li {
    display: inline-block; /* Exibe os itens da lista lado a lado */
    margin-right: 20px; /* Espaço entre os itens da lista */
}

nav a {
    color: #0275d8;
    text-decoration: none;
}

nav a:hover {
    color: #0256c8;
    text-decoration: underline;
}

footer {
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
}

section {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }

    section {
        max-width: 100%;
    }
}

.container {
    margin: 0 auto;
    max-width: 80%;
}
