<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nome }}</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
    <h1>{{ nome }}</h1>
    <section>
        <p>{{ descrição }}</p>
    </section>
    <section>
        <h2>Imports</h2>
        <ul>
            {% for import in imports %}
            <li>{{ import }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>__all__</h2>
        <ul>
            {% for funcao in _all_ %}
            <li>{{ funcao }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Funções do Módulo</h2>
        {% for nome, detalhes in funcoes.items() %}
        <article>
            <h3>{{ nome }}</h3>
            <p>{{ detalhes.descricao | safe }}</p>
        </article>
        {% endfor %}
    </section>

    <!-- Seção do Índice -->
    <nav>
        <h2>Índice de Módulos</h2>
        <ul>
            {% for modulo in modulos_projeto %}
            <li><a href="{{ modulo.url }}">{{ modulo.nome }}</a></li>
            {% endfor %}
        </ul>
    </nav>


    <footer>
        <p>Informações do Rodapé</p>
    </footer>
</body>
</html>
